.email {
  min-height: 100vh;
  background-image: url(../../../assets/home-email-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 4rem;

  @media screen and (max-width: 830px) {
    gap: 0.5rem;
  }
}

.content {
  max-width: 400px;
  text-align: center;
  user-select: none;

  &-title {
    font-size: 6.5rem;
    height: 8rem;

    &-span {
      font-size: inherit;
      color: var(--second-orange);
    }

    @media screen and (max-width: 450px) {
      font-size: 4rem;
      height: auto;
    }
  }

  &-subtitle {
    font-size: 3.65rem;
    line-height: 3.4rem;
    letter-spacing: 0.2rem;

    @media screen and (max-width: 450px) {
      font-size: 2rem;
    }
  }
}

.form {
  max-width: 400px;
  width: 100%;
  padding-top: 2rem;

  &.inactive {
    display: none;
  }

  &-input-name,
  &-input-email {
    width: 100%;
    background-color: whitesmoke;
    padding: 0.85rem 0.7rem;
    border-radius: 0.2rem;
    margin-bottom: 1.2rem;
    color: var(--black);
    transition: all ease-out 0.3s;

    &::placeholder {
      letter-spacing: 0.1rem;
      color: var(--black);
    }

    &:focus {
      &::placeholder {
        color: rgb(172, 172, 172);
      }
    }
  }

  &-label-check-agree {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    input[type="checkbox"] {
      appearance: none;
      width: 45px;
      height: 45px;
      background-color: transparent;
      border: 5px solid var(--second-orange);
      cursor: pointer;

      &:checked {
        background-color: var(--second-orange);
      }
    }

    .check-span {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      max-width: 80%;
      line-height: 1.2rem;
    }
  }

  &-button {
    padding: 1.44rem 1.68rem;
  }

  &-text-email-error,
  &-text-check-error {
    font-size: 1.08rem;
    letter-spacing: 0.1rem;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  &-text-success {
    font-size: 2.08rem;
    letter-spacing: 0.05rem;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}

.success-container {
  max-width: 400px;
  width: 100%;
  padding: 3rem 0 0 2rem;
  display: none;
  user-select: none;

  &-title {
    font-size: 2.95rem;
    color: rgb(29, 29, 221);

    @media screen and (max-width: 450px) {
      font-size: 2.4rem;
    }
  }

  &-subtitle {
    font-size: 1.7rem;

    @media screen and (max-width: 450px) {
      font-size: 1.4rem;
    }
  }

  &.active {
    display: block;
  }
}