.icons-container {
  width: 100%;
  display: flex;
  gap: 0.84rem;
  flex-wrap: wrap;
  justify-content: start;

  @media screen and (max-width: 830px) {
    justify-content: center;
    margin-bottom: 1.6rem;
  }
}

.icon-card {
  border: 1px solid whitesmoke;
  width: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  transition: all ease-in-out 0.5s;
  cursor: pointer;

  svg {
    width: 34px;
    height: 34px;
    fill: whitesmoke;
  }

  &:hover {
    background-color: whitesmoke;

    svg {
      fill: var(--second-orange);
    }
  }
}
